
      h1{
        text-align: center;
        color:#333333;
      }
      h2{
        color:#000080;
        text-shadow: 1px 1px .5px;
      }
      ul{
        list-style-image: url('../images/tgum.jpg')
      }

  
